.loading-panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.loading-spinner,
.loading-text {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -10px;
}

.loading-text {
    display: block;
}

.loading-spinner {
    display: none;
}

.loading-text {
    display: none;
    color: #E3E3E3;
    font-size: 20px;
    margin-left: -47px;
}

.loading-spinner {
    width: 70px;
    text-align: center;

    > div {
        background-color: #FFF;
        border-radius: 100%;
        display: inline-block;

        width: 18px;
        height: 18px;

        animation: bouncedelay 1.4s infinite ease-in-out;
        animation-fill-mode: both;
    }

    .bounce1 {
        animation-delay: -0.32s;
    }

    .bounce2 {
        animation-delay: -0.16s;
    }
}

.loading-text {
    display: none;
}

.loading-spinner {
    display: block;
    margin-left: -35px;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
    }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
    }
}


//scroll bar
.scroll-panel {
    position: relative;
}
.scroll-list {
    height: 100%;
    overflow: hidden;
}
.scroll-track {

    border-radius: 10px;
    width: 6px;

    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

}

.scroll-thumb {

    background-color: #d1d1d1;
    border-radius: 10px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    width: 100%;

    transition-duration: 0.2s;
    transition-property: background-color;

}

.scroll-track {
    &.active .scroll-thumb,
    .scroll-thumb:hover {
        background-color: #b3b3b3;
    }
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar {
    height: 6px;
}
::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #b3b3b3;
}