@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?4dhhx0');
    src:    url('fonts/icomoon.eot?4dhhx0#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?4dhhx0') format('truetype'),
        url('fonts/icomoon.woff?4dhhx0') format('woff'),
        url('fonts/icomoon.svg?4dhhx0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-minus-circle:before {
    content: "\e900";
}
.icon-plus-circle:before {
    content: "\e901";
}
.icon-chevron-left:before {
    content: "\e902";
}
.icon-chevron-right:before {
    content: "\e903";
}
.icon-userlist:before {
    content: "\e904";
}
.icon-android:before {
    content: "\e905";
}
.icon-angle-down:before {
    content: "\e906";
}
.icon-angle-left:before {
    content: "\e907";
}
.icon-angle-right:before {
    content: "\e908";
}
.icon-angle-up:before {
    content: "\e909";
}
.icon-apple:before {
    content: "\e90a";
}
.icon-arrow-down:before {
    content: "\e90b";
}
.icon-arrow-up:before {
    content: "\e90c";
}
.icon-arrow:before {
    content: "\e90d";
}
.icon-book:before {
    content: "\e90e";
}
.icon-bookrack:before {
    content: "\e90f";
}
.icon-browser:before {
    content: "\e910";
}
.icon-bug:before {
    content: "\e911";
}
.icon-camera:before {
    content: "\e912";
}
.icon-cancel-img:before {
    content: "\e913";
}
.icon-caret-down:before {
    content: "\e914";
}
.icon-caret-left:before {
    content: "\e915";
}
.icon-caret-right:before {
    content: "\e916";
}
.icon-caret-up:before {
    content: "\e917";
}
.icon-check:before {
    content: "\e918";
}
.icon-circle:before {
    content: "\e919";
}
.icon-comment:before {
    content: "\e91a";
}
.icon-compress:before {
    content: "\e91b";
}
.icon-computer:before {
    content: "\e91c";
}
.icon-dot-small:before {
    content: "\e91d";
}
.icon-dot:before {
    content: "\e91e";
}
.icon-drink:before {
    content: "\e91f";
}
.icon-emotion:before {
    content: "\e920";
}
.icon-eraser:before {
    content: "\e921";
}
.icon-expand:before {
    content: "\e922";
}
.icon-folder-open:before {
    content: "\e923";
}
.icon-frown-o:before {
    content: "\e924";
}
.icon-gear:before {
    content: "\e925";
}
.icon-gift:before {
    content: "\e926";
}
.icon-grid:before {
    content: "\e927";
}
.icon-hand-up:before {
    content: "\e928";
}
.icon-heart:before {
    content: "\e929";
}
.icon-img-empty:before {
    content: "\e92a";
}
.icon-info-o:before {
    content: "\e92b";
}
.icon-laser:before {
    content: "\e92c";
}
.icon-link:before {
    content: "\e92d";
}
.icon-lock:before {
    content: "\e92e";
}
.icon-media:before {
    content: "\e92f";
}
.icon-microphone-high:before {
    content: "\e930";
}
.icon-microphone-low:before {
    content: "\e931";
}
.icon-microphone-medium:before {
    content: "\e932";
}
.icon-microphone:before {
    content: "\e933";
}
.icon-minus:before {
    content: "\e934";
}
.icon-mobile:before {
    content: "\e935";
}
.icon-more:before {
    content: "\e936";
}
.icon-move:before {
    content: "\e937";
}
.icon-neutral-o:before {
    content: "\e938";
}
.icon-no-chat:before {
    content: "\e939";
}
.icon-no-microphone:before {
    content: "\e93a";
}
.icon-no-webcam:before {
    content: "\e93b";
}
.icon-pause-o:before {
    content: "\e93c";
}
.icon-pencil:before {
    content: "\e93d";
}
.icon-pingjiaicon:before {
    content: "\e93e";
}
.icon-play-o:before {
    content: "\e93f";
}
.icon-plus:before {
    content: "\e940";
}
.icon-point:before {
    content: "\e941";
}
.icon-popdown:before {
    content: "\e942";
}
.icon-popup:before {
    content: "\e943";
}
.icon-question-circle:before {
    content: "\e944";
}
.icon-question-o:before {
    content: "\e945";
}
.icon-rect:before {
    content: "\e946";
}
.icon-refresh:before {
    content: "\e947";
}
.icon-reset:before {
    content: "\e948";
}
.icon-search-minus:before {
    content: "\e949";
}
.icon-search-plus:before {
    content: "\e94a";
}
.icon-search:before {
    content: "\e94b";
}
.icon-share:before {
    content: "\e94c";
}
.icon-shutdown:before {
    content: "\e94d";
}
.icon-smile-o:before {
    content: "\e94e";
}
.icon-speaker:before {
    content: "\e94f";
}
.icon-star-half:before {
    content: "\e950";
}
.icon-star-o:before {
    content: "\e951";
}
.icon-star-sharp:before {
    content: "\e952";
}
.icon-star:before {
    content: "\e953";
}
.icon-survey:before {
    content: "\e954";
}
.icon-switch-route:before {
    content: "\e955";
}
.icon-text:before {
    content: "\e956";
}
.icon-times-o:before {
    content: "\e957";
}
.icon-times:before {
    content: "\e958";
}
.icon-trash:before {
    content: "\e959";
}
.icon-tuning:before {
    content: "\e95a";
}
.icon-upload:before {
    content: "\e95b";
}
.icon-user:before {
    content: "\e95c";
}
.icon-volume-down:before {
    content: "\e95d";
}
.icon-volume-off:before {
    content: "\e95e";
}
.icon-volume-up:before {
    content: "\e95f";
}
.icon-webcam:before {
    content: "\e960";
}

