@import 'icon-font.styl';

.icon {
    display: inline-block;
}

.icon-logo {
    background: url(../image/sprite.png) no-repeat;
    background-image: -webkit-image-set(
        url(../image/sprite.png) 1x,
        url(../image/sprite@2x.png) 2x
    );
    
    width: 64px;
    height: 26px;
}