// 主色
$brand-primary = #FF9900;
$brand-primary-light = #F8CE69;
$brand-primary-lighter = #FFFBEF;

// 信息色
$brand-info = #6287D5;
$brand-info-light = #ABC0E9;
$brand-info-lighter = #EDF3FD;

$brand-success = #56B02A;
$brand-success-light = #91C876;
$brand-success-lighter = #E7FFDB;

$brand-error = #F95710;
$brand-error-light = #E7B69F;
$brand-error-lighter = #FDE3D7;




// 灰度
$gray-darker = #555;

$gray-dark = #888;

$gray-base = #989898;

$gray-light = #CCC;

$gray-lighter = #F8F8F8;


// 背景色
$bg-color = #E5E5E5;

// 文本色
$text-color = $gray-dark;

// 链接色
$link-color = $text-color;

// 链接悬浮色
$link-color-hover = darken($link-color, 5%);


$brand-teacher = #ff7f00;
$brand-assistant = #6187dc;
$brand-guest = #6187dc;

$message-panel-width = 280px;
$media-panel-width = 277px;
$input-control-height = 105px;

$padding-vertical = 8px;
$padding-horizontal = 12px;

$class-panel-whiteboard-gap-vertical = 7px;
$class-panel-whiteboard-gap-horizontal = 10px;

$class-panel-sidebar-width = 130px;
$class-panel-sidebar-bg-color = #ebebeb;
$class-panel-sidebar-box-shadow = -2px 0 6px rgba(0,0,0,0.2);
$class-panel-sidebar-toggle-width = 24px;
$class-panel-sidebar-toggle-height = 98px;

$class-panel-thumbnail-width = 98px;
$class-panel-thumbnail-height = 73px;
$class-panel-thumbnail-bg-color = #FFF;
$class-panel-thumbnail-border-color = #ccc;
$class-panel-thumbnail-border-color-hover = #9e9e9e;
$class-panel-thumbnail-image-padding = 1px;
$class-panel-thumbnail-title-color = #6e6e6e;
$class-panel-thumbnail-title-font-size = 12px;

$class-panel-footer-bg = #313339;
$class-panel-footer-height = 40px;

$media-panel-bg-color = #fff;
$media-panel-box-shadow = -2px 0px 6px rgba(0,0,0,0.1);

$media-panel-user-card-gap = 5px;

$message-panel-bg-color = #fff;
$message-panel-box-shadow = -2px 0px 6px rgba(0,0,0,0.1);

$message-content-bg-color = #f2f3f5;
$message-content-admin-bg-color = #ffe1b3;

$emotion-border-color = #D3ECF0;
$emotion-bg-color = #f6fbfe;

$tooltip-bg-color = #6e6e6e;
$tooltip-border-color = #4d4d4d;


$dialog-border-radius = 2px;

$camera-player-width = 253px;
$camera-player-height = 190px;

$user-card-name-height = 30px;

$tool-bar-height = 34px;

$net-status-good-color = #4CAF50;
$net-status-ok-color = #FF9800;
$net-status-normal-color = #FF5A00;
$net-status-bad-color = #E50010;
$net-status-off-color = #E50010;

// 字体
$font-family-title = PingHei, 'Hiragino Sans GB', 'Microsoft YaHei', arial, sans-serif;

// z-index
$zindex-tiny = 1;
$zindex-small = 2;
$zindex-medium = 3;
$zindex-large = 4;
$zindex-huge = 5;

$media-zindex = 5;
$message-zindex = 10;
$popup-index = 15;