
.notice-panel {
    height: auto;
    padding: 8px 5px 27px;
    position: relative;

    &:before {
        content: " ";
        background-color: #dedede;
        height: 1px;

        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
    }

    .footer {
        font-size: 12px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .btn,
    .word-count {
        background-color: #FFF;
        color: #9E9E9E;
        padding: 4px 8px;
        border-radius: 14px;
        display: inline-block;
    }

    .btn {
        border: 1px solid #dedede;
        cursor: pointer;
        display: inline-block;
        margin-right: 8px;
        user-select: none;

        transition-duration: 0.2s;
        transition-property: background-color, border-color, color;

        &:hover {
            background-color: #F5F5F5;
            border-color: #D4D4D4;
        }
        &:active {
            background-color: #E9E9E9;
            border-color: #C9C9C9;
            color: #969696;
        }
    }

    .btn-toggle {
        display: none;
        padding-left: 5px;
        padding-right: 5px;

        &.active {
            display: inline-block;
        }
    }

    .wrapper {
        > div {
            position: relative;
            transition: 0.3s height ease-in;
        }
    }

    .form-text,
    .content,
    .content-test {
        font-size: 12px;
        line-height: 16px;
        word-wrap: break-word;
        word-break: break-all;
    }

    .action {
        float: right;
    }


    .scroll-track {
        right: -5px;
    }

    .fold {
        .icon-caret-up {
            display: none;
        }
        .icon-caret-down {
            display: inline-block;
        }
    }
    .unfold {
        .icon-caret-up {
            display: inline-block;
        }
        .icon-caret-down {
            display: none;
        }
    }



}